<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.noahseidman.samsclub">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:name="com.noahseidman.samsclub.Application"
            android:theme="@style/AppTheme">
        <activity android:name="com.noahseidman.samsclub.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.noahseidman.samsclub.ProductDetailsActivity"/>
        <activity android:name="androidx.fragment.app.testing.FragmentScenario$EmptyFragmentActivity"/>
    </application>

</manifest>